name: UT for check-versions workflow

# See https://docs.github.com/en/actions/using-workflows/reusing-workflows#using-a-matrix-strategy-with-a-reusable-workflow

on:
  workflow_dispatch:

jobs:

  test:
    uses: ./.github/workflows/check-versions.yml 
    with:
      refname: ${{ matrix.job.refname }}
      reftype: ${{ matrix.job.reftype }}
      tomls: ${{ matrix.job.tomls }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - refname: '0.2.4'
            reftype: 'tag'
            tomls: '["Cargo.toml", "cherryrgb/Cargo.toml"]'
            expectsuccess: true
          - refname: '0.2.4'
            reftype: 'tag'
            tomls: '["Cargo-wrongversion.toml", "cherryrgb/Cargo.toml"]'
            expectsuccess: false
          - refname: '0.2.4'
            reftype: 'tag'
            tomls: '["nonexistent.toml", "cherryrgb/Cargo.toml"]'
            expectsuccess: false
          - refname: '0.2.4'
            reftype: 'tag'
            tomls: 'invalidJSON'
            expectsuccess: false
          - refname: '0.2.4'
            reftype: 'tag'
            tomls: '[]'
            expectsuccess: true

  main:
    needs: [test]
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    steps:
      - run: echo $${{ toJSON(needs.test) }}
