name: UT for validate-versions action

on:
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    name: ${{ matrix.job.name }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: No tomls
            refname: '0.2.4'
            reftype: 'tag'
            expected: 'success'
          - name: Nonexisting toml
            refname: '0.2.4'
            reftype: 'tag'
            tomls: nonexisting.toml
            expected: 'failure'
          - name: Normal tag
            refname: '0.2.4'
            reftype: 'tag'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'success'
          - name: Wrong version in toml
            refname: '0.2.4'
            reftype: 'tag'
            tomls: |
              Cargo-wrongversion.toml
              cherryrgb/Cargo.toml
            expected: 'failure'
          - name: Bad tag
            refname: 'foobar'
            reftype: 'tag'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'failure'
          - name: Normal branch
            refname: 'master'
            reftype: 'branch'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'success'
          - name: Branch with missing toml
            refname: 'master'
            reftype: 'branch'
            tomls: |
              Cargo.toml
              blubb.toml
              cherryrgb/Cargo.toml
            expected: 'failure'
    steps:
      - uses: actions/checkout@v3
      - id: test
        continue-on-error: true
        uses: ./.github/actions/validate-versions
        with:
          refname: ${{ matrix.job.refname }}
          reftype: ${{ matrix.job.reftype }}
          tomls: ${{ matrix.job.tomls }}
      - if: always() && !cancelled() && ( steps.test.outcome != matrix.job.expected )
        run: exit 1

  testdefaults:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/validate-versions
        with:
          tomls: **/Cargo.toml
