name: UT for validate-versions

on:
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    outputs:
      testok: ${{ steps.result.outputs.testok }}
    name: ${{ matrix.job.name }}
    strategy:
      fail-fast: false
      matrix:
        job:
          - name: No tomls
            refname: '0.2.4'
            reftype: 'tag'
            expected: 'success'
          - name: Nonexisting toml
            refname: '0.2.4'
            reftype: 'tag'
            tomls: nonexisting.toml
            expected: 'failure'
          - name: Normal tag
            refname: '0.2.4'
            reftype: 'tag'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'success'
          - name: Wrong version in toml
            refname: '0.2.4'
            reftype: 'tag'
            tomls: |
              Cargo-wrongversion.toml
              cherryrgb/Cargo.toml
            expected: 'failure'
          - name: Bad tag
            refname: 'foobar'
            reftype: 'tag'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'xfailure'
          - name: Normal branch
            refname: 'master'
            reftype: 'branch'
            tomls: |
              Cargo.toml
              cherryrgb/Cargo.toml
            expected: 'success'
    steps:
      - uses: actions/checkout@v3
      - id: testaction
        uses: ./.github/actions/validate-versions
        with:
          refname: ${{ matrix.job.refname }}
          reftype: ${{ matrix.job.reftype }}
          tomls: ${{ matrix.job.tomls }}
      - id: result
        if: always()
        run: |
          if ${{ steps.testaction.outcome == matrix.job.expected }} ; then
            echo "testok=true" >> "$GITHUB_OUTPUT"
          else
            echo "testok=false" >> "$GITHUB_OUTPUT"
          fi

  main:
    needs: [test]
    if: always() && !cancelled()
    runs-on: ubuntu-latest
    steps:
      - run: echo "${{ toJSON(needs.*) }}"
